body {
    background-image: url("../images/agila_left.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
:root{
    --margin: 30px 30px 0;
}
.box-out{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.pwet{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.hero-section{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.hero-section .right-menu{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    width: 85%;
}
.container {
    position: absolute;
}

.container1 {
    position: absolute;
    top: 31%;
    left: 41%;
    width: 270px;
}

svg text {
    font-family: Georgia;
    letter-spacing: 10px;
    stroke: white;
    font-size: 85px;
    font-weight: 50;
    stroke-width: 1;
    fill: white;
}

#light{
    position: relative;
}

#lineh1{
    position: absolute;
    top: 1px;
    height: 3px;
    background: #6cd2f4;
    animation: lineH 7s infinite linear alternate;
}

@keyframes lineH{
    0%{
        width: 0%;
        left: 110%;
    }
    100%{
        width: 25%;
        left: 0%;
        opacity: 100%;
    }
}

.container_card2 {
    position: absolute;
    top: 35%;
    left: 33%;
}

.container_card1 {
    position: absolute;
    top: 35%;
    left: 13%;
}

.container_card3 {
    position: absolute;
    top: 35%;
    left: 53%;
}

.container_card4 {
    position: absolute;
    top: 35%;
    left: 73%;
}

.flip-card {
    background-color: transparent;
    width: 240px;
    height: 150px;
    perspective: 1000px;
    color: white;
  }
  
.text-shadow {
    font-size: 20px;
	font-style: italic;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px #2962ff;
	transition: all 0.5s ease-in-out;
	text-align: center;
	letter-spacing: 0.2em;
	animation: flicker 1.5s ease-in-out infinite alternate; } 

&:hover {
	color: #fff;
    }

.tags small {
    @media (max-width: 768px) {
            font-size: 0.5em;
        }
    }
        
@keyframes flicker {
        0% {
        opacity: 0.5;
            text-shadow: 2px 2px 10px #2962ff;
        }
        
        100% {
            opacity: 1;
            text-shadow: 2px 2px 20px #2962ff;
        }
    }
  
.number {
    position: absolute;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.75em;
    top: 7em;
    left: 1.5em;
  }
  
.date_8264 {
    position: absolute;
    font-weight: 600;
    font-size: 0.75em;
    top: 9em;
    left: 1.5em;
    letter-spacing: 2px;
  }
  
.cvc_number {
    position: absolute;
    font-weight: 600;
    font-size: 0.75em;
    top: 9em;
    left: 8.5em;
    letter-spacing: 2px;
  }
  
.strip {
    position: absolute;
    background-color: white;
    width: 15em;
    height: 2.25em;
    top: 0;
    border-radius: 1rem 1rem 0 0;
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 150%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front,
.flip-card-back {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
.flip-card-front {
    background-color: black;
    border: 1px solid #6cd2f4;
  }
  
.flip-card-back {
    background-color: black;
    transform: rotateY(180deg);
  }
  
.container_right {
    position: absolute;
    top: 23%;
    left: 64%;
}

.container_left {
    position: absolute;
    top: 23%;
    left: 34%;
    transform: rotate(180deg);
}

.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #9ee5fa;
    --color-background: #000000;
    --color-outline: #9ee5fa80;
    --color-shadow: #00000080;
}
  
.btn-content {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
}
  
.btn-content:hover,
.btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
}
  
.btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
}
  
.btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
}
  
.icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
}
  
#arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
}
  
#arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
}
  
.btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
}
  
.btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}
  
.btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}
  
@keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: #9ee5fa;
    }
}
  
@-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
@keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
}

.container_tip {
    position: absolute;
    top: 85%;
    left: 10%;

}

.wordCarousel {
    font-size: 15px;
    font-weight: 100;
    color: #6cd2f4;
    div {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;
        li {
            font-family: "Poppins", sans-serif;
            color: #6cd2f4;
            font-weight: 700;
            padding: 0 10px;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }
    }
}

.flip2 { animation: flip2 5s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -180px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}