body{
    background-image: url("../images/adminagila.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

:root{
    --margin: 30px 30px 0;
}

.box-out{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.hero-section{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Side Menu */
.hero-section .side-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;                
    background-color: #1892c3;
    height: 100%;
    width: 17%;
  	box-shadow: 3px 1px 5px #888888;
}

.sidenav-footer {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top:100%;
    font-size: 25px;
    color: #D3D3D3;
    background-color: #343a40;
    flex-shrink: 0;
}

.side-menu .side-title{
    margin-top: 13%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}
.side-title .place{
    width: 100%;
    margin: 0;
    font-size: 2vw;
    color: white;
    text-align: center;
    font-weight: 700;
}
.side-title .coor{
    width: 100%;
    margin: 0;
    font-size: 17px;
    color: white;
    text-align: center;
    font-weight:400;
}
.side-title .chart{
    margin-top: 10%;
}

.side-menu .side-btn-grp{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    flex-grow: 2;
    border: none;
    
}
.side-btn-grp .form-btn{
    margin: 0;
    display: flex;
}
.side-btn-grp .side-btn{
    border: none;
    display:flex;
    width: 100%;
  background-color: #2282a2;
    color: white;
    padding: 4%;
    text-decoration: none;
    font-size: 22px;
    transition: 0.25s;
}
.side-btn-grp .side-btn:hover{
    background-color: #A0D7ff;
    color: #1b2227;
}
.side-btn .btn-logo{
    margin-right: 6%;
    margin-left: 6%;
    text-align: center;
    align-self: center;
    font-size: 20px;
}

.side-menu .h-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 30px;
}
.h-btn .h-btn-c{
    text-align: center;
    align-items: center;
    width:20%;
    text-decoration: none;
    border-radius: 10%;
    font-size: 40px;
    text-decoration: none;
  background-color: #37a0cf;
  border: #37a0cf;
  transition: 0.25s;
}
.h-btn .h-btn-c:hover{
    color: #1b2227;
    background-color: #A0D7ff;
}

.side-menu .side-tips{
    display: flex;
    text-align: center;
    font-weight: 300;
    margin: 0;
    color: white;
    align-self: flex-end;
    padding: 0 10px 5%;
}

/* Map Menu */
.hero-section .right-menu {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    width: 83%;

}
.hero-section .map-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 83%;
}

.map-menu .map{
    height: 93%;
    background-color: red;
}

.map-menu .bot-menu{
    display: flex;
    background-color: #1b2227;
    height: 7%;
}

.bot-menu .filters{
    display: flex;
    padding: 15px
}

.filters .title{
    display: flex;
    color: white;
    height: 100%;
    padding: 0 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.bot-time, .bot-cat, .bot-area{
    display: flex;
    margin: 0 10px;
    color: white;
    height: 100%;
    padding: 0 30px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: #3d5464;
    border: none;
}

.bot-time:hover, .bot-cat:hover, .bot-area:hover{
    display: flex;
    margin: 0 10px;
    color: #1b2227;
    height: 100%;
    padding: 0 30px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: #A0D7ff;
}


.bot-menu .city{
    display: flex;
    justify-content: flex-end;
    padding: 15px
}

/* ======================================================= USER MANAGEMENT ======================================================= */

/*----> RIGHT MENU <----*/
.hero-section .right-menu{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    width: 85%;
}

.right-menu .title{
    margin: var(--margin);
    display: flex;
    width: 100%;
}


.col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}

.crd-a{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 30%;
    height: 15%;
    top: 20%;
    left: 26%;
    translate: middle;
    color: white;
    background-color: #191970;
    border-left: .25rem solid #6082B6;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}


.crd-b{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 30%;
    height: 15%;
    top: 20%;
    left: 61%;
    translate: middle;
    color:white;
    background-color: #355E3B;
    border-left: .25rem solid #C1E1C1;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.crd-c{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 30%;
    height: 15%;
    top: 37%;
    left: 26%;
    translate: middle;
    color:black;
    background-color: #6082B6;
    border-left: .25rem solid #191970;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    
}

.crd-d{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 30%;
    height: 15%;
    top: 37%;
    left: 61%;
    translate: middle;
    color:black;
    background-color: #C1E1C1;
    border-left: .25rem solid #355E3B;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}


.crd-e{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 55%;
    left: 19%;
    width: 27%;
}

.crd-f{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 55%;
    left: 47%;
    width: 27%;
}

.crd-g{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 55%;
    left: 77%;
}
.row1-stats {
    position: relative;
    top: -50px;
    left: 10px;
    margin-bottom: 14%;
    display: flex;
    justify-content: center;
}


.row2-stats {
    position: relative;
    left: 10px;
    margin-bottom: 13%;
    display: flex;
    justify-content: center;
}

/* page */
.usr-menu .page-nav{
    margin: var(--margin);
}


/* title */
svg text {
    font-family: Georgia;
    letter-spacing: 10px;
    stroke: white;
    font-weight: 50;
    stroke-width: 1;
    fill: white;
}

/* line */
.horizontal_line {
    background-color: #6cd2f4;
    position: absolute;
    top: 35%;
    left: 71.7%;
    width: 21%;
    height: 3px;
}


/* recom card */

.container_recom{
    position: absolute;
    top: 24%;
    left: 32%;

}

.recom_card {
    width: 500px;
    height: 400px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px #6082b682;
}
.flip-card {
    background-color: transparent;
    width: 830px;
    height: 200px;
    perspective: 1000px;
    color: white;
}
.flip-cardstats {
    background-color: transparent;
    width: 900px;
    height: 210px;
    perspective: 1000px;
    color: white;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 150%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
.flip-card-front {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
.flip-card-front {
  background-color: white;
  border: 2px solid #37a0cf;
}

.text-shadow {
    font-size: 35px;
	font-style: italic;
	text-transform: uppercase;
  color: #2282a2;
	transition: all 0.5s ease-in-out;
	text-align: center;
	letter-spacing: 0.2em;} 

.info-window-content {
    font-size: 14px;
    color: black; /* Ensures text is visible */
}

.info-window-title {
    margin: 0;
    color: black; /* Ensures title is visible */
    font-size: 16px;
    font-weight: bold;
}

.info-window-text {
    margin: 5px 0;
    color: black; /* Ensures text is visible */
}