#chartContainer1 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer2 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer3 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer4 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer5 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer6 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer7 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer8 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer9 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer10 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer11 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer12 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer13 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer14 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer15 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#chartContainer16 {
    width: 110%;
    height: 90%;
    position: relative;
    display: flex;
  
}
#crimeChart1 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart2 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart3 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart4 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart5 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart6 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart7 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart8 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart9 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart10 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart11 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart12 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart13 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart14 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart15 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}
#crimeChart16 {
    width: 90% !important;
    height: 97% !important;
    display: flex;
    
}